.container {
    display: flex;
    flex-direction: row;
    background-color: #F2F3F8;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0.8rem;
    border-radius: 12px;
    background-color: #fff;
}

.card:hover {
    box-shadow: 0 8px 26px 0 rgba(0,0,0,0.2);
    background-color: #fff;
}

.badge {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 9rem;
    color: #fff;
    background-color: #256EFF;
}