.container {
    display: flex;
    flex-direction: row;
    background-color: #F2F3F8;
}

.badge {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 9rem;
    color: #fff;
    background-color: #256EFF;
}

.textarea {
    font-family: sans-serif;
    padding: 0.3rem;
}