h1, h2, h3, h4, h5, h6, p {
    font-family: "Open Sans";
}

code, span, div, small, kbd {
    font-family: "Open Sans";
}

button, a {
    font-family: "Open Sans";
}

kbd {
    border-radius: 0.2em;
    padding: 1px 2px 0;
    border: 1px solid black;
    background-color: #fff;
}

textarea {
    font-family: "Open Sans";
    padding: 0.3rem;
}